 
.brush {
  position: absolute;
  max-width:33%;
  height:auto;
  padding-left:70%;
  margin-top:10%;
  z-index: 4;
}

.egg {
  position: absolute;
  max-width:100%;
  height:auto;
  padding-left:39%;
  margin-top:90%;
  z-index: 2;
}

.pin {
  position: absolute;
  max-width:18%;
  height:auto;
  padding-left:20.5%;
  margin-top:5%;
  z-index: 2;
}

.background {
  position: absolute;
  max-width:100%;
  height:auto;
  z-index: -1;  
}

.fone {
  position: absolute;
  max-width:100%;
  height:auto;
  z-index: -3;
  opacity:30%;
  
}



.menu {
  position: absolute;
  max-width:28.5%;
  height:auto;
  padding-left:1.5%;
  margin-top:5.2%;

}

.ovalgreen {
  position: absolute;
  max-width:22.5%;
  height:auto;
  padding-left:11%;
  margin-top:39.5%;
  z-index: 4;

}

.star2 {
  position: absolute;
  max-width:15%;
  height:auto;
  padding-left:4.9%;
  margin-top:33.2%;
  z-index: -3;

}

.shoka {
  position: absolute;
  max-width:15%;
  height:auto;
  padding-left:20.5%;
  margin-top:23.3%;
  z-index:9;

}



.shock2 {
  position: absolute;
  max-width:7.8%;
  height:auto;
  padding-left:63.2%;
  margin-top:11.5%;

}

.ovalblack {
  position: absolute;
  max-width:24.3%;
  height:auto;
  padding-left:75.8%;
  margin-top:2.6%;

}

.oval {
  position: absolute;
  max-width:20.9%;
  height:auto;
  padding-left:79.1%;
  margin-top:34.8%;

}



.ovalyellow {
  position: absolute;
  max-width:15%;
  height:auto;
  padding-left:81.3%;
  margin-top:12.8%;

}


.lemons {
  position: absolute;
  max-width:30%;
  height:auto;
  padding-left:58%;
  margin-top:36%;
  z-index: 0;
}

.body {
  overflow-x: hidden;
}

.shocktext3 {
  position: absolute;
  max-width:19%;
  height:auto;
  padding-left:41.4%;
  margin-top:46.2%;
  z-index: 1;

}


.shocktext4 {
  position: absolute;
  max-width:26%;
  height:auto;
  padding-left:41.4%;
  margin-top:29.8%;
  z-index: 1;

}


.rec1 {
  position: absolute;
  max-width:22%;
  height:auto;
  padding-left:40%;
  margin-top:45.1%;
  z-index: 0;

}

.rec2 {
  position: absolute;
  max-width:22.3%;
  height:auto;
  padding-left:38.7%;
  margin-top:35.3%;
  z-index: 0;

}

.rec3 {
  position: absolute;
  max-width:25.3%;
  height:auto;
  padding-left:39.3%;
  margin-top:38.8%;
  z-index: 0;

}

.rec4 {
  position: absolute;
  max-width:28%;
  height:auto;
  padding-left:40.5%;
  margin-top:29%;
  z-index: 0;

}





.button {
  position: absolute;
  max-width:38.2%;
  height:auto;
  margin-top:3.5%;
  padding-left:37%;
  z-index:1;
}



.image {
  position: absolute;
  max-width:38.2%;
  height:auto;
  margin-top:3.5%;
  padding-left:39%;
  z-index:3;
}






.resizable {
  background: white;
  width: 5%;
  height: 10%;
  position: absolute;
  top: 20%;
  left: 40%;
  z-index:8;
}

.resizable .resizers{
  width: 100%;
  height: 100%;
  border: 2px solid #000000;
  box-sizing: border-box;
  z-index:8;
}

.resizable .resizers .resizer{
  width: 8px;
  height: 8px;
  border-radius: 10%; /*magic to turn square into circle*/
  background: white;
  border: 2px solid #000000;
  position: absolute;
  z-index:8;
}

.resizable .resizers .resizer.top-left {
  left: -5px;
  top: -5px;
  cursor: nwse-resize; /*resizer cursor*/
  z-index:8;
}
.resizable .resizers .resizer.top-right {
  right: -5px;
  top: -5px;
  cursor: nesw-resize;
  z-index:8;
}
.resizable .resizers .resizer.bottom-left {
  left: -5px;
  bottom: -5px;
  cursor: nesw-resize;
  z-index:8;
}
.resizable .resizers .resizer.bottom-right {
  right: -5px;
  bottom: -5px;
  cursor: nwse-resize;
  z-index:8;
}







.js_container {
  position: absolute;
  max-width:100%;
  height:auto;
  padding-left:14%;
  margin-top:30%;
  z-index: 8;
}

.js_container2 {
  position: absolute;
  max-width:100%;
  height:auto;
  padding-left:26%;
  margin-top:6%;
  z-index: 9;
}

.js_container3 {
  position: absolute;
  max-width:22.5%;
  height:auto;
  padding-left:11%;
  margin-top:42%;
  z-index: -1;
}

.js_container4 {
  position: absolute;
  max-width:26%;
  height:auto;
  padding-left:41.4%;
  margin-top:29.8%;
  z-index: 9;
}


.container5 {
  position: absolute;
  max-width:23.1%;
  height:auto;
  padding-left:38.9%;
  margin-top:35.5%;
  z-index: 9;
}

.container6 {
  position: absolute;
  max-width:27%;
  height:auto;
  padding-left:69.2%;
  margin-top:28.2%;
  z-index: 8;

}

.container7 {
  position: absolute;
  max-width:33%;
  height:auto;
  padding-left:70%;
  margin-top:11.8%;
  z-index: 4;

}




.shock {
  position: absolute;
  max-width:19%;
  height:auto;
  padding-left:41.4%;
  margin-top:46.2%;
  z-index: 8;
}

.star3 {
  position: absolute;
  max-width:19%;
  height:auto;
  padding-left:84.5%;
  margin-top:21.9%;
  z-index: 0;
}

.jest {
  position: absolute;
  max-width:19%;
  height:auto;
  padding-left:77.5%;
  margin-top:5.9%;
  z-index: 6;
}

.shoky {
  position: absolute;
  max-width:15.5%;
  height:auto;
  padding-left:58%;
  margin-top:8%;
  z-index: 7;
}

.ovalblack {
  position: absolute;
  max-width:24.3%;
  height:auto;
  padding-left:75.8%;
  margin-top:2.6%;
  z-index: 0;
}


.img {
  position: absolute;
  max-width:24.3%;
  height:auto;
  padding-left:75.8%;
  margin-top:2.6%;
  z-index: 0;
}




.shockdown {
  position: absolute;
  max-width:27%;
  height:auto;
  padding-left:69.2%;
  margin-top:28.2%;
  z-index: 4;

}

.shockdown {
  position: absolute;
  max-width:12.4%;
  height:auto;
  padding-left:83.9%;
  margin-top:43.4%;
  z-index: 4;

}


.setka {
  position: absolute;
  max-width:100%;
  height:auto;
  z-index:0;
  
}

.kapusta {
  position: absolute;
  max-width:100%;
  height:auto;
  padding-left:2.7%;
  margin-top:34%;
  z-index: 8;
}

.grey {
  position: absolute;
  max-width:110%;
  height:auto;
  padding-left:8%;
  margin-top:17%;
  z-index:-1;
}

